*{ margin: 0; padding: 0; }
@font-face { font-family: Roboto; src: url(Roboto-Regular.ttf); }
@font-face { font-family: Oswald; src: url(Oswald-v.ttf); }
:root{
    --cl-periwinkle:    #CBC5EA;
    --cl-platinum:      #EAEAEA;
    --cl-pomp:          #73628A;
    --cl-pomp2:         #9D69A3;
    --cl-onyx:          #393E41;
    --cl-timberwolf:    #D3D0CB;
    --cl-keppel:        #44bba31f;
    --cl-saffron:       #E7BB41;
    --cl-charcoal:      #444554;
    --cl-taupegray:     #7F7B82;
    --cl-rosequartz:    #bfacb563;
    --cl-daftblue:      #313D5A;
    --cl-gunmetal:      #183642;
    --cl-eerieblack:    #172121;
    --cl-silver:        #BDBDBD;
    --cl-olivine:       #A1C181;
    --cl-moonstone:     #5EB1BF;
    --cl-teagreen:      #d4e6b549;
    --cl-dutchwhite:    #dbd3ad42;
    --cl-apricot:       #f6c5af2f;
    --cl-frenchgray:    #c9c5cb56;
    --cl-jordyblue:     #92bdea28;
}

html{ scroll-behavior: smooth;}
header{
    height: 40vh;
    background: url('bg01.jpg') no-repeat fixed center;
    background-size: cover;
}
body{
    margin: auto;
    text-align: center;
    background-color: var(--cl-keppel); 
    font-family: Roboto;
}
.profile, .a-exp, .topsub, .btmsub ,.education, .qrbox, .midsub{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.profile{background-color: var(--cl-teagreen);}
.a-exp{background-color: var(--cl-dutchwhite);}
.topsub{background-color: var(--cl-apricot);}
.midsub{background-color: var(--cl-rosequartz);}
.btmsub{background-color: var(--cl-frenchgray);}
.education{background-color: var(--cl-jordyblue);}

main{margin: auto; width: 80vw;}
.ppic{
    border: var(--cl-silver) 5px solid;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 30vh;
    background: url('profile.jpg') no-repeat center;
    background-size: cover;
    border-radius: 50vh;
    bottom: 15vh;
    margin-bottom: -13vh;
}
h1{ font-family: Roboto; font-size: 4.5vh; font-smooth: always; }
h2, h3{font-family: Oswald; text-transform: uppercase; font-weight: 400;}
h2{ font-size: 3vh;}
h3{ font-size: 2.6vh; }
.contact{ display: inline-block; }
a{ text-decoration: none; color: black;}
.education, .experience, .profile, .skills, .reference, .hobbies { text-align: left; }
p{ margin-top: 10px; margin-bottom: 10px; }
.phone,.envelope,.home,.linkedin {display: inline-block;width: 2.6vh;height: 2.6vh;}
.phone{ background: url('telephone-fill.svg') no-repeat center; }
.envelope{ background: url('envelope-fill.svg') no-repeat center; }
.home{ background: url('house-fill.svg') no-repeat center;}
.linkedin{ background: url('linkedin.svg') no-repeat center;}
aside>p, article>p {text-align: left;}
.pt1{ display: flex; justify-content: space-around; flex-direction: row;}
.a-exp{ width: 57vw; }
.a-skills{ width: 20vw; height:min-content}
.year{ margin-top: 10px; display: block;}
.work>p, ul, li{text-align: left;}
.year, .workplace, .workaddr { margin-top: 10px; }
.year{font-size: large;font-weight: 600;text-decoration: underline; }
.workplace{font-size: 20px; font-family: Oswald; display: block;margin-bottom:2px;}
.workaddr{font-size: 14px; font-style: italic;}
li{margin-left: 16px;}
.skillpin{
    font-size: 13px;
    border: black 1px solid;
    padding: 4px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 3px;
    background-color: var(--cl-saffron);
}
#l1{background-color: var(--cl-silver);}
#l2{background-color: var(--cl-olivine);}
#l3{background-color: var(--cl-moonstone);}
#l4{background-color: var(--cl-pomp2);}
.align{ margin-top: 10px; margin-bottom: 10px; }
.qrbox{ display:flex; align-items: center;}
.qrcode{
    background: url('pdf-qr.png') no-repeat center;
    background-size: cover;
    position: relative;
    height: 35vw !important;
    width: 35vw !important;
    flex-shrink: 0;
}
.qrbox > p {font-size: 12px;}
.b{font-weight: bold;}
.u{text-decoration: underline;}
.i{font-style: italic;}
.midsub > .skillpin {display: block;}
.pdfmsg{ visibility: collapse; position: absolute}


    main{width: 90vw;}
    .contact {display: block}
    .sitemsg{visibility: collapse; position: absolute}
    .pdfmsg {text-align: justify; visibility: visible; position: static;}
    .introinfo > h2 {visibility: collapse; position:absolute;}
    .pt1{flex-direction: column; }
    .a-exp{order: 1; width: auto;}
    .a-skills{width: auto;}
    h2{text-align: center;}
    .btmsub{margin-bottom: 0;}
    .qrcode{
        background: url('site-qr.png');
        background-size: cover;
        position: relative;
        height:40vw !important; 
        width: 40vw !important; 
        }
    .qrbox{flex-direction: column;}
    .midsub > .skillpin {display: inline-block;}
