*{ margin: 0; padding: 0; }

/** 
color palette
eaeaea
CBC5EA
73628A
313D5A
183642
**/

@font-face { font-family: Roboto; src: url(Roboto-Regular.ttf); }
@font-face { font-family: Oswald; src: url(Oswald-v.ttf); }
a{ text-decoration: none;}
header{
    height: 40vh;
    background-color: gray;
    background: url('bg01.jpg') no-repeat fixed center;
    background-size: cover;
}
body{
    margin: auto;
    text-align: center;
    background: #eaeaea;
    font-family: Roboto;
}
h1{ font-family: Roboto; font-size: 5vh; font-smooth: auto; }
h2, h3{font-family: Oswald; text-transform: uppercase; font-weight: 400;}
h2{ font-size: 3vh; }
h3{ font-size: 2.6vh; }
main{ margin: auto; width: 80vw; }
p{ margin-top: 10px; margin-bottom: 10px; }
.contact{ display: inline; }

.ppic{
    border: #eaeaea 5px solid;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 30vh;
    background: url('profile.jpg') no-repeat center;
    background-size: cover;
    border-radius: 50vh;
    bottom: 15vh;
    margin-bottom: -13vh;
}
.qrcode{
    background: url('qr-code.svg') no-repeat center;
    background-size: cover;
    position: relative;
    height: 15vh;
    width: 15vh;
    float: left;
}
.phone, .envelope, .home, .linkedin {
    display: inline-block;
    width: 2.6vh;
    height: 2.6vh;
}
.phone{ background: url('telephone-fill.svg') no-repeat center; }
.envelope{ background: url('envelope-fill.svg') no-repeat center; }
.home{ background: url('house-fill.svg') no-repeat center;}
.linkedin{ background: url('linkedin.svg') no-repeat center;}

.education, .experience, .profile, .skills, .reference { text-align: left; }
aside>p, article>p {text-align: left;}
.pt1{ display: flex; justify-content: space-around; }
.a-exp{ width: 45vw; }
.a-skills{ width: 30vw; }
section>aside, section>article{}
.year{ margin-top: 10px; margin-bottom: 10px; display: block;}
.work>p{
    text-align: left;
}
.year, .workplace, .workaddr { margin-top: 10px; margin-bottom: 10px; }

.skillpin{
    font-size: 13px;
    border: black 1px solid;
    padding: 4px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 3px;
}
#l1{background-color: #BDBDBD;}
#l2{background-color: #A1C181;}
#l3{background-color: #5EB1BF;}
#l4{background-color: #9D69A3;}
.align{ margin-top: 10px; margin-bottom: 10px; }